<robot name="TONGJI_LVI">
  <material name="orange">
    <color rgba="1.0 0.5 0.2 1" />
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>

  <link name="zed2_imu_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.06 0.04 0.02" />
      </geometry>
      <material name="orange" />
    </visual>
  </link>

  <link name="rslidar">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <cylinder length="0.07" radius="0.05" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <link name="right_camera">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.05 0.05 0.02" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <link name="left_camera">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.05 0.05 0.02" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <link name="base_link" />

  <joint name="imu_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="zed2_imu_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="rslidar_link_joint" type="fixed">
    <parent link="zed2_imu_link" />
    <child link="rslidar" />
    <origin xyz="-0.0353649 -0.205563 0.078487" rpy="3.1318 -3.0805 -3.0383" />
  </joint>

  <joint name="right_camera_link_joint" type="fixed">
    <parent link="zed2_imu_link" />
    <child link="right_camera" />
    <origin xyz="0.0732856 -0.09614561 -0.01113022" rpy="1.56348 -3.13537 1.57095" />
  </joint>

  <joint name="left_camera_link_joint" type="fixed">
    <parent link="zed2_imu_link" />
    <child link="left_camera" />
    <origin xyz="0.06490996 0.02914534 -0.01390249" rpy="1.56503 -3.12807 1.58628" />
  </joint>

</robot>
